<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354786876028-1boh7levmfiri63e945ddk6s9qqm157l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354786876028-1boh7levmfiri63e945ddk6s9qqm157l</string>
	<key>API_KEY</key>
	<string>AIzaSyD7YOhYO5satlXjVEfFHV9m5C10ZFb_Efw</string>
	<key>GCM_SENDER_ID</key>
	<string>354786876028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.carolinaignites.app</string>
	<key>PROJECT_ID</key>
	<string>carolina-ignites</string>
	<key>STORAGE_BUCKET</key>
	<string>carolina-ignites.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354786876028:ios:5d98dcd170f3b63d8307f9</string>
	<key>DATABASE_URL</key>
	<string>https://carolina-ignites.firebaseio.com</string>
</dict>
</plist>